
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea
/.docker
docker-compose.yml
docker-compose.override.yml
*.lock
###< symfony/framework-bundle ###
