{% extends "base.html.twig" %}

{% block title %}
    Movies page
{% endblock %}

{% block body %}
    {% for movie in movies %}
        <ul>
            <li>{{ movie.title }}</li>
        </ul>
    {% endfor %}
{% endblock %}